alerting:
  telegram:
    token: "{{ telegram_bot_token }}"
    id: "{{ telegram_chat_id }}"

endpoints:
  - name: enricoruggieri.com
    url: https://enricoruggieri.com
    interval: 30s
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: dns
    url: ssh://pihole.enricoruggieri.com:22
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: vpn
    url: tcp://vpn.enricoruggieri.com:22
    conditions:
      - "[ CONNECTED ] == true"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: ops
    url: tcp://ops.enricoruggieri.com:22
    conditions:
      - "[ CONNECTED ] == true"
    alerts:
      - type: telegram
        send-on-resolved: true
