apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: "mediaserver"
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Project for the Media Server
  sourceRepos:
    - 'https://github.com/enrico-laboratory/homelabV2'
    - "git@github.com:enrico-laboratory/homelabPrivate.git"
  destinations:
    - namespace: "mediaserver"
      server: https://kubernetes.default.svc
