apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibreweb
  namespace: mediaserver
  labels:
    app: calibreweb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calibreweb
  template:
    metadata:
      labels:
        app: calibreweb
    spec:
      containers:
        - name: calibreweb
          image: lscr.io/linuxserver/calibre-web:0.6.25
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Amsterdam"
            - name: DOCKER_MODS
              value: "linuxserver/mods:universal-calibre"
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /data/books
              name: books
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: calibre-web-pvc-pve
        - name: books
          nfs:
            server: nas.enricoruggieri.com
            path: /tank/media/library/books
