global:
  domain: "argocd.enricoruggieri.com"
config:
  params:
    server.insecure: "true"
server:
  # ingress:
  #   enabled: true
  #   ingressClassName: nginx
  #   path: /https
  #   tls: false
  #   annotations:
  #     nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  #   extraRules:
  #   - http:
  #       paths:
  #       - path: /
  #         pathType: Prefix
  #         backend:
  #           service:
  #             name: argocd-server
  #             port:
  #               name: http
  service:
    type: LoadBalancer
    # -- Server service http port
    servicePortHttp: 8089
    # -- Server service https port
    servicePortHttps: 4437
configs:
  repositories:
    private-repo:
      url: https://github.com/enrico-laboratory/homelabV2.git
extraObjects:
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: argocd-apps
      namespace: argocd
    spec:
      project: argocd
      destination:
        namespace: argocd
        server: https://kubernetes.default.svc
      source:
        path: k8s/argocd-apps
        repoURL: https://github.com/enrico-laboratory/homelabV2.git
        targetRevision: HEAD
        directory:
          recurse: true
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: argocd-app-projects
      namespace: argocd
    spec:
      project: argocd
      source:
        path: k8s/argocd-projects
        repoURL: https://github.com/enrico-laboratory/homelabV2.git
        targetRevision: HEAD
        directory:
          recurse: true
          jsonnet: {}
      destination:
        namespace: argocd
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
  - apiVersion: argoproj.io/v1alpha1
    kind: AppProject
    metadata:
      name: argocd
      namespace: argocd
    spec:
      description: Argocd Project
      sourceRepos:
        - '*'
      destinations:
        - namespace: argocd
          server: https://kubernetes.default.svc
      clusterResourceWhitelist:
        - group: '*'
          kind: '*'
      orphanedResources:
        warn: false

