*.env
/.idea/
api_token
ssh_keys
*.local

.terraform
.terraform.lock.hcl
pve_credentials
terraform.tfstate*
/dns/terraform.tfvars

!/ansible/inventories/group_vars/all
/ansible/inventories/group_vars
/ansible/inventories/host_vars

secret*
