*.env
/.idea/
api_token
ssh_keys
*.local

.terraform
.terraform.lock.hcl
pve_credentials
terraform.tfstate*
/dns/terraform.tfvars
terraform.tfvars.decrypted

secret*
/compose

update_hosts_last_run.log
age_key.txt