- apiVersion: argoproj.io/v1alpha1
  kind: Application
  metadata:
    name: argocd-app-projects
    namespace: argocd
  spec:
    project: argocd
    source:
      path: k8s/argocd-projects
      repoURL: https://github.com/enrico-laboratory/homelabV2.git
      targetRevision: HEAD
      directory:
        recurse: true
        jsonnet: {}
    destination:
      namespace: argocd
      server: https://kubernetes.default.svc
    syncPolicy:
      automated:
        selfHeal: true
        prune: true