apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: proxmox-cloud-controller-manager
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: tooling
  source:
    repoURL: 'ghcr.io/sergelogvinov/charts'
    chart: proxmox-cloud-controller-manager
    targetRevision: 0.2.24
    helm:
      releaseName: proxmox-ccm
      values: |
        useDaemonSet: false
        existingConfigSecret: "proxmox-csi-config"
        existingConfigSecretKey: "config.yaml"
        
        # Scheduling: Run on the control plane
        nodeSelector:
          node-role.kubernetes.io/control-plane: "true"
        # Important for k3s: CCM needs to be able to talk to the API server
        hostNetwork: true
        tolerations:
          - effect: NoSchedule
            key: node-role.kubernetes.io/control-plane
            operator: Exists
          - effect: NoSchedule
            key: node.cloudprovider.kubernetes.io/uninitialized
            operator: Exists
        # CCM needs to run with specific arguments for k3s compatibility
        extraArgs:
          - --v=2
          - --cloud-config=/etc/proxmox/config.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
