apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: proxmox-csi-plugin
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: tooling
  source:
    repoURL: ghcr.io/sergelogvinov/charts
    chart: proxmox-csi-plugin
    targetRevision: 0.5.4
    helm:
      releaseName: proxmox-csi
      values: |
        existingConfigSecret: "proxmox-csi-config"

        # Optional: Adjust the log level if you are troubleshooting
        # logLevel: 2

        controller:
          # Since no taints exist, this selector is enough to
          # place the controller on your master node.
          nodeSelector:
            node-role.kubernetes.io/control-plane: ""

        node:
          # The node driver (DaemonSet) will automatically run
          # on all nodes (master + workers) to handle disk mounting.
          nodeSelector:
            kubernetes.io/os: linux

        storageClass:
          - name: proxmox-zfs-nvme
            storage: kubedata
            reclaimPolicy: Delete
            fstype: ext4
            ssd: true
            backup: true
            mountOptions:
              - discard
            # Define the storage class as default
            annotations:
              storageclass.kubernetes.io/is-default-class: "true"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: proxmox-csi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
    syncOptions:
      - CreateNamespace=true
