apiVersion: 1
providers:
  - name: 'Node Exporter Full'
    orgId: 1
    folder: 'Monitoring'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards/node_exporter_full.json
  - name: 'Kubernetes / Compute Resources / Namespace (Pods)'
    orgId: 2
    folder: 'Monitoring'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards/k8s-resources-namespace.json
  - name: 'Kubernetes / Compute Resources / Workload'
    orgId: 3
    folder: 'Monitoring'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards/k8s-resources-workload.json
