- name: Ensure Prometheus output directory exists locally
  file:
    path: "{{ ai_compose_folder }}"
    state: directory

- name: Generate docker compose file
  template:
    src: "docker-compose.yml.j2"
    dest: "{{ ai_compose_folder }}/docker-compose.yml"

- name: Bring up docker compose
  community.docker.docker_compose_v2:
    project_src: "{{ ai_compose_folder }}/"
    state: "{{ ai_state | default('present') }}"
    recreate: always
    remove_orphans: true
