apiVersion: apps/v1
kind: Deployment
metadata:
  name: jackett
  namespace: mediaserver
  labels:
    app: jackett
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jackett
  template:
    metadata:
      labels:
        app: jackett
    spec:
      tolerations:
        - key: "arm"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      containers:
        - name: jackett
          image: ghcr.io/linuxserver/jackett:0.24.498
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Amsterdam"
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /config-temp
              name: config-temp
            - mountPath: /downloads
              name: downloads
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jackett-pvc
        - name: config-temp
          persistentVolumeClaim:
            claimName: jackett-pvc-pve
        - name: downloads
          nfs:
            server: 192.168.100.62
            path: /mnt/tank/media/torrents/
