apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jackett-pvc
  namespace: mediaserver
  labels:
    recurring-job-group.longhorn.io/every-week: enabled
    recurring-job.longhorn.io/source: enabled 
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jackett-pvc-pve
  namespace: mediaserver
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: proxmox-zfs-nvme
  resources:
    requests:
      storage: 50Mi
