pvenodes:
  hosts:
    pve_node3:
      ansible_host: 192.168.100.23

home_assistant:
  hosts:
    192.168.100.65:

ops:
  hosts:
    192.168.100.78:

k3s_cluster:
  children:
    server:
      hosts:
        k3s-101:
          ansible_host: 192.168.100.101
        k3s-102:
          ansible_host: 192.168.100.102
        k3s-103:
          ansible_host: 192.168.100.103
    master_server:
      hosts:
        k3s-101:
    agent:
      hosts:
        k3s-111:
          ansible_host: 192.168.100.111
        k3s-112:
          ansible_host: 192.168.100.112
        k3s-113:
          ansible_host: 192.168.100.113
    gpu:
      hosts:
        k3s-113:

proxy:
  hosts:
    192.168.100.140:

ai:
  hosts:
    192.168.100.150:

dozzle:
    hosts:
      192.168.100.150:
      