pvenodes:
  hosts:
    pve_node3:
      ansible_host: 192.168.100.23

home_assistant:
  hosts:
    192.168.100.65:

ops:
  hosts:
    192.168.100.78:

k3s_cluster:
  children:
    server:
      hosts:
        192.168.100.101:
        192.168.100.102:
        192.168.100.103:
    master_server:
      hosts:
        192.168.100.101:
    agent:
      hosts:
        192.168.100.111:
        192.168.100.112:
        192.168.100.113:

    gpu:
      hosts:
        192.168.100.113:

proxy:
  hosts:
    192.168.100.140:

ai:
  hosts:
    192.168.100.150:

dozzle:
    hosts:
      192.168.100.150:
      