pvenodes:
  hosts:
    pve_node1:
      ansible_host: 192.168.100.20
    pve_node2:
      ansible_host: 192.168.100.21

home_assistant:
  hosts:
    192.168.100.65:

ai:
  hosts:
    192.168.100.67:

ops:
  hosts:
    192.168.100.78:

vpn:
  hosts:
    192.168.100.79:

pihole:
  hosts:
    192.168.100.80:

k3s_cluster:
  children:
    server:
      hosts:
        192.168.100.121:
        192.168.100.122:
        192.168.100.123:
    master_server:
      hosts:
        192.168.100.121:        
    agent:
      hosts:
        192.168.100.131:
        192.168.100.132:
        192.168.100.133:
        192.168.100.134:

    gpu:
      hosts:
        192.168.100.133:

proxy:
  hosts:
    192.168.100.140:
