- name: Set up cron jobs
  hosts: ops
  gather_facts: true

  tasks:
    - name : set envs
      cron:
        name: PATH
        env: yes
        job: "{{ bin_path }}"
        state: present

    - name: Update host cronjob
      cron:
        name: "Update hosts"
        minute: "0"
        hour: "8"
        weekday: "5"
        job: 'cd {{ homelab_repo_dest }}/ansible && ansible-playbook -i {{ inventory_path }} {{ playbooks_folder }}/update_hosts.yaml > update_hosts_last_run.log'
        state: present
        user: "{{ main_user }}"

    - name: update website cronjob
      cron:
        name: "Update website"
        minute: "0"
        hour: "9"
        weekday: "6"
        job: 'cd {{ homelab_repo_dest }}/ansible && /usr/bin/make website_update > compose_website_update_last_run.log 2>&1'
        state: present
        user: "{{ main_user }}"
