- name: Configure K3s cluster
  hosts:
    - k3s_cluster
    - proxy
  become: true
  vars:
    helm_version: "v4.0.4"
    interface_name: eth0
    gateway: 192.168.100.1
    nameservers:
      # - 192.168.100.149
      - 192.168.100.80
      - 8.8.8.8
      - 8.8.4.4
    search_domain: enricoruggieri.com
    device: "/dev/sdb"
    lh_folder: "/var/lib/longhorn"
  tasks:
    - name: Packages common
      ansible.builtin.include_role:
        name: k3s_common

    - name: Configure Ansible kubernetes
      when: group_names is contains('master_server')
      ansible.builtin.include_role:
        name: k3s_ansible_kubernetes

    - name: Configure proxy
      when: group_names is contains('proxy')
      ansible.builtin.include_role:
        name: k3s_proxy

    - name: Install node exporter
      when: group_names is contains('proxy')
      ansible.builtin.include_role:
        name: prometheus.prometheus.node_exporter

#    - name: Configure gpu passthrough
## To install in the pve with intel alder lake cpu
## https://www.derekseaman.com/2024/07/proxmox-ve-8-2-windows-11-vgpu-vt-d-passthrough-with-intel-alder-lake.html
## To install in the host https://dgpu-docs.intel.com/driver/installation.html#ubuntu
## The above is NOT VALID anymore, using Nvidia gpu
#      when: group_names is contains('gpu')
#      vars:
#        nvidia_driver_version: "580"
#      ansible.builtin.include_role:
#        name: k3s_gpu

    - name: Add specific resolve conf for k3s
      ansible.builtin.include_role:
        name: k3s_resolve_conf

#   Solution with Longhorn volumes is not anymore in use
#    - name: Add longhorn volumes to worker
#      when: group_names is contains('agent') and group_names is not contains('bare_metal')
#      ansible.builtin.include_role:
#        name: k3s_volumes
