- name: Ensure ZFS pools exist
  community.general.zpool:
    name: "{{ item.name }}"
    vdevs:
      - disks: "{{ item.disks }}"
    state: present
    force: true
  loop: "{{ zfs_pools }}"

- name: Create ZFS datasets for VM images
  community.general.zfs:
    name: "{{ item.name }}/{{ item.dataset_name }}"
    state: present
    extra_zfs_properties:
      atime: "off"
      compression: "lz4"
  loop: "{{ zfs_pools }}"

- name: Copy storage config file
  ansible.builtin.template:
    src: "{{ storage_config_file_template | default('pve_storage_config') }}.cfg"
    dest: "/etc/pve/storage.cfg"
    owner: root
    group: www-data
    mode: "0640"
  run_once: true