alerting:
  telegram:
    token: "{{ telegram_bot_token }}"
    id: "{{ telegram_chat_id }}"

storage:
  type: sqlite
  path: "/data/gatus.db"

endpoints:
  - name: enrico ruggieri
    group: "websites"
    url: https://enricoruggieri.com
    interval: 30s
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: madrigale den haag
    group: "websites"
    url: https://madrigaledenhaag.nl/
    interval: 30s
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: ha
    group: "apps"
    url: http://ha.enricoruggieri.com:8123
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: truenas
    group: "apps"
    url: http://truenas.enricoruggieri.com
    conditions:
      - "[STATUS] == 200"

  - name: truenas-backup
    group: "apps"
    url: http://truenas-backup.enricoruggieri.com
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: taiscale
    group: "apps"
    url: http://ops.enricoruggieri.com:9002/healthz
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: pihole-ui
    group: "apps"
    url: http://pihole.enricoruggieri.com:8083/admin
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: pihole-dns
    group: "dns"
    url: "192.168.100.78" # Address of the DNS server to use
    dns:
      query-name: "example.com"
      query-type: "A"
    conditions:
      - "[BODY] == pat(*.*.*.*)"
      - "[DNS_RCODE] == NOERROR"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: ops
    group: "servers"
    url: ssh://ops.enricoruggieri.com:22
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: telegram
        send-on-resolved: true

  - name: truenas backup
    group: "servers"
    url: ssh://truenas-backup.enricoruggieri.com:22
    conditions:
      - "[CONNECTED] == true"

  - name: truenas
    group: "vms"
    url: ssh://truenas.enricoruggieri.com:22
    conditions:
      - "[CONNECTED] == true"

  - name: truenas backup
    group: "vms"
    url: ssh://truenas-backup.enricoruggieri.com:22
    conditions:
      - "[CONNECTED] == true"
