apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-pvc-pve
  namespace: mediaserver
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: proxmox-zfs-nvme
  resources:
    requests:
      storage: 500Mi