apiVersion: apps/v1
kind: Deployment
metadata:
  name: navidrome
  namespace: mediaserver
  labels:
    app: navidrome
spec:
  replicas: 1
  selector:
    matchLabels:
      app: navidrome
  template:
    metadata:
      labels:
        app: navidrome
    spec:
      containers:
        - name: navidrome
          image: deluan/navidrome:0.59.0
          env:
            - name: ND_BASEURL
              value: "https://navidrome.enricoruggieri.com"
            - name: ND_LASTFM_ENABLED
              value: "true"
            - name: ND_LASTFM_APIKEY
              valueFrom:
                secretKeyRef:
                  key: lastFmApiKey
                  name: navidrome-secrets
            - name: ND_LASTFM_SECRET
              valueFrom:
                secretKeyRef:
                  key: lastFmApiSecret
                  name: navidrome-secrets
          volumeMounts:
            - mountPath: /data
              name: data
            - mountPath: /music
              name: music
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: navidrome-pvc
        - name: music
          nfs:
            server: nas.enricoruggieri.com
            path: /tank-data/media/music/music
            readOnly: true
