apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: mediaserver
  labels:
    app: jellyfin
spec:
  replicas: 0
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: ghcr.io/linuxserver/jellyfin:10.11.0
          resources:
            limits:
              nvidia.com/gpu: "1"
              cpu: "2"
              # memory: "1536Mi"
            requests:
              cpu: "2"
              # memory: "1536Mi"
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Amsterdam"
            - name: JELLYFIN_PublishedServerUrl
              value: "192.168.56.30"
#          securityContext:
#            privileged: true
          volumeMounts:
#            - name: dri
#              mountPath: /dev/dri
            - mountPath: /config
              name: config
            - mountPath: /data/tvshows
              name: tv-shows
              readOnly: false
            - mountPath: /data/movies
              name: movies
              readOnly: false
            - mountPath: /data/music
              name: music
              readOnly: false
            - mountPath: /data/video
              name: videos
      volumes:
#        - name: dri
#          hostPath:
#            path: /dev/dri
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-pvc    
        - name: tv-shows
          nfs:
            server: 192.168.100.62
            path: /mnt/tank/media/tv-shows
            readOnly: false
        - name: movies
          nfs:
            server: 192.168.100.62
            path: /mnt/tank/media/movies
            readOnly: false
        - name: music
          nfs:
            server: 192.168.100.62
            path: /mnt/tank/media/music
            readOnly: false
        - name: videos
          nfs:
            server: 192.168.100.62
            path: /mnt/tank/media/videos
            readOnly: false
