apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-pvc-config
  namespace: mediaserver
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: proxmox-zfs-nvme
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-pvc-data
  namespace: mediaserver
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: proxmox-zfs-nvme
  resources:
    requests:
      storage: 8Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-pvc-cache
  namespace: mediaserver
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: proxmox-zfs-nvme
  resources:
    requests:
      storage: 2Gi
