---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgAC3iOD8c2MZhswnnF2Yr3o4+TFmpbBjFd9canAQRd2A5s3r5LoJNhn10Lel3SK4re/TCMwTUPJfmjDhZL8i8mNSgnHNX9Y046/inUP80j75wFoQI2NgKuegGKn0JN4UKdzYAaiYJXDY3AXCThG2JfbpghYq9rWIv8n1tJIML/pPMH0pGD4Qg0oS2zwAEolMaO8h63FfjQ7CldoOtn/zV0s6AITFa6R4EAPyXzDj8ZCqLD9QURTDfz3H0J1jk67VhjaIz01j0Ru9SUNVCJINrVUtdC1tIKVYdWvhfrqAh9ue/bTkqwO5t0c8LYJR7ZUO4Su/CktSarikm6oFYzcEhhqcjPWg+pfW2oGwN5U0j3TMb13N0nXCOIW5vsKepg6UvN94Jc8PVe8/9HVn7f/tSZ/Ph0HfBIuyuPjA5LrKAQFTVL2UHai5uFqD1x5zyZ/JWPi/1miJZg+jD/qU0K5TCiv7XzX08VNKbk615+U+bTGOJM8o4bePB/zHmMrSAoK5RHLY1l3XEAKZ/h5mxkktfO4v3BUt2Jsl6Zfql7nrJC7JZmtOXu2r4n1WtXSnLpRKiHSg3cL0e7l4MfXMZRjliv+9OuhWkWC9vuXFd8cjd7ibTBqlkzWJoiD3zMr4Rc+mESBn/ble/ALSZfB6KIorhgXgCNHd9UWx3F0AJkgc/zIe25G3SDcS5BBPVQvSyA5cgkOb1icWW9OqXOS6/it58wo4bm0gNh3XaySzra/0YGst7Qy+3HIiDgA
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
