---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgCUHNCrOhFhosPKP9NB+cIJHg8wkKUgBxXl4VX+DGft45Ycbnp95YkiwRYKFG3K05DlbKunY5gJIO4W8+qQbpAc9xCL9oYP+UtYEYEitCP7vmf/I6+Mrh9G2YkXN78IcJ/9HMYaf+sDCSWAdXdvwc5QLAU3e4RvGUu+Epsy/e5SFszuA6Uc/WYTAwf0V/l/iSa09QXNJ7Sqd7Z8CsLCH29erKM3UJK2e0X650jMipnq84pYAOqMzSYrV29mwWolfy5XgXIpQ9usy0All72PwYfuWevl2lX4ygpBZo/AWa29DwAhOj8oXpdrSFzHsPGycvfCoFFStVX9TgqmagSOR+S1hsHLPRhPNx2azkVWqiNmUbeDIKs/9DDmwDUv4UeTW3KtJITREXFSUEMIG8Ft0Hrr3nhQIjEoB2f/ab7x8ObxVKnUw8mvGz/4Oq/jesFdYSt6UbkGl7Ay3s/wdEmIoDesVP9MHEorb1l+qoFrasyN0OAolsL4YB1wL/qWzKaYmDyRUwzbAVos/oZWV+CVXX3wc5DUMykkDwxH4Cv2NZRsylgG7LzK4vCadC08Z63/Gux+vmdarTRxPj90ko9IAmQWHZG88GInbQBV9O3CmI7lCgKxSphmjW51geH0VVieNu2citD1fVpegGl5e1zPg36rj7lCf8fAFErXobMUFxwPEeHRmq/niHbMa1j9MyZOyS7WfU5h5WgFIpZFHSySjmXaEidjS0VXGqgHI2CX+Ui1ZJFoX6bSpelr
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
