---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgDIoILGeNX/tt2J8duykGb9NCscCy3jezRpTffDU3UY5E2jPKjbgeDkJGTTwuxuPQ+sf43F57X6GBP2My86vuth3OToZiUs6k5dvMZCkp/ihCp1gWwmMfr6vK01NyDfT76Ta0OHBOUK2zBkdWqX+1LQZF607sZKj9Z29oEr6yxlLEGxqX+IDF8KCiMJLkawjMSz5sTq3yKbAQSQ9zx2zFPsXLaoWyyJgZOTH6XLCIf5IxEYva2QlrxmN88PrioLDqNAg78COTx4thI2Sq3RGuemry83MOIh6uAbnTqcMtRVDyhugwxhrYL0pBG9QzfCDQvVaflgUq448c+2RxZRZUr5vqXWDNcTwA2zo0lQm3zx9opPz3IkASJvWuU0PrnjXDMhDxzTIZgkP/1gt3eHQkPPSDVmI3B0nAY2vxyYp3nXaSbUT3pJxcZ0U4iZy5xnLYouirk2VXxX92y847EAYzhfcCmgFBN+BiM6lZk31rnD31q0qCuIcBpoaP7N7Ln0koSCOQPGlhWK8NX+NzQYQZNMEHB49LK4u2ZG3jKlGcaVx1E5kT4TWZW6D4sdENOCFJ6JOUHJk/HW8M2MGP1cv6pp1vyu1wWsn6xq38AlXmsxEciOvETcuSrd2rQKHZwek/KE+XGEe7LCRmg6G+N0qOkFUJBNmm5L94efN2KpC+PJYx7s4kzk0Mv7A8Q7h2wP9pgBu4RITeyiyfFHi2W6I6XxVan6kJaw40ZUW+2wh2mY9+smHQ56Tk3x
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
