---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgAoIAXpVBYBNHafcCFeGKCRxc/JPImv2r7MYukpT9cTE5mEk4EWXvUZUnmjFPovBGQo3gkU0J69rhCig7VXGRVn9hWJdm6pQ89zOPvN7VnF5vWI7EyYw6A5ijk47EzH84vOXke8Dhp5azAo1B0YIboswIDRTvyo8il9iMgsHctm4liElzXNRGzWbw8BmNPJ/hz1gT0i/O7OvmVKJDljdwzu+wRiRn45TZxup3augmjKd1dJcIXSz1Jy7Dad4IbyWey3F4m8MfRR9WvaPlX2dnrk2ruKWu6+IdMkmmR1hjUMebFxhXQ7lQHDk62J45LNL4YQllLotytthPTcQIdlrlwDXB/fXSXil7R8LtjGt1nMYs8GCXICphpn7+MtSX0iMbhMrKv5jGwqosD99A+gtYN/kU82qEzJhXVHfQInoqCjW12mQdVqOuRIp/w6hd9oVFlIbIFYay4gNSfxqwjAVFrUW7VWSZZBANJG/whNgUaSkxYIXb+s36zfCF8yks+IDsqf7hqBBs+vKV7M6HVC65YUwqqEDkb4drP5iW2c2a9Mh3rIee2bmxRYXKK4U5iXHSCdjk1WVlhEr8CeNmmmO5dJ3KM9Mxts/10CajQSBcDPeewuViBG400b83sWXQqDlffR4QvIy1pLnDuUJgC6+Y03rNIRvE+2n4GUYM8T2q3Mtkej3b3xfFDt2XPzX8JfZyWkacQ8TVHGNgqTuekZrtB6Zfg2NIlEFP5e1Zv2nZkZf4olPRnEuCfU
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
