---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgARvdnjf7Cq0zyWmi4myZQUPGdBXrvBxPEMRD0GWgq/K9KIkAcU0a8Ix/AgZiscWrGGruPBQ/J3qbn841aXHIuEAnceDyRcLSFop1V3Lhh1sURf4/K2o7zoOtVNjqoODb05dEtxu5lIR1Iq2+z1rng+assPW62bbG43FOfU7UYB3C88CsW+c9q0+SdXZmPpAr5nQUfMsZuKxmEfxn9eiFd5AqJdin2lJaklppXnSE7S8fkUhwSP7scN8pkSAs2hYJZOvmRQtyWKsDwSfsI5AZe5Vbzh+NaL93VekIl5Iu4XZvqlqPDbx96Wp4q1kquCrOQYjvAiVWAww6ih48m4AP+jlxjETVBqhM+S05JKdoGr46UtvSU6ucxC6rpFSuLZtJIZjJoWO1mRaRN5zXlwgUVhjG8NX/tQRtkktpQy/txH5PGb/YLsYFQUUq7NeZsr805nEkAtpK5a/99c/lVXpCvlQ7qeTBs/fiX9DQfRHMVpZmx3TMEulKhtSnkJWDjXdvDLgxLeZ6SPcvMxWrKGij//RGJnmz5jALE9OTeTi9s7QYHwD7zdguUWXyEaefVOz6q2XDZmTbejwmNpbvi0yk0Vv3KYm8wf7kQPkOAPdbSVAwPtSnmHsRH5V8KJu5JzEuTwZeDAchHnOSNYX3tWPH6gwuDargrf2ZpICvwjSSJPqRn4K1BQ6SXTdZRJEeARzsSJRd/OXX5yelyzOe6lBa7tStdAv8zvJeVqNA4lDokDtz+oMS2VfRiA
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
