- name: Check folders exists
  file:
    path: "{{ items }}"
    state: directory
  loop:
    - "{{ compose_folder_path }}/{{ data_folder_path }}"
    - "{{ compose_folder_path }}/{{ letsencrypt_folder_path }}"
    - "{{ compose_folder_path }}"

# COMPOSE
- name: Generate docker compose file
  template:
    src: "docker-compose.yml.j2"
    dest: "{{ compose_folder }}/docker-compose.yml"

- name: Bring up compose
  community.docker.docker_compose_v2:
    project_src: "{{ compose_folder }}/"
    state: "{{ state | default('present') }}"
    recreate: always
    remove_orphans: true