- name: Install packages
  ansible.builtin.apt:
    name:
      - nfs-common
      - qemu-guest-agent
      # added linux-modules-extra to allow usb pass through
      - "linux-modules-extra-{{ ansible_kernel }}"
      - "linux-headers-{{ ansible_kernel }}"
      - open-iscsi
    state: present
    update_cache: true

- name: Qemu
  when: group_names is not contains('bare_metal')
  block:
    - name: Install package
      ansible.builtin.apt:
        name:
          - qemu-guest-agent
        state: present
        update_cache: false

    - name: Start qemu-guest-agent
      ansible.builtin.systemd:
        name: qemu-guest-agent
        enabled: true
        state: started
